@model SchwimmbadWebApplication.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details der Buchung</h2>

<div>
    <h4>Hier sind die Details zu den jeweiligen Reservierungen.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Buchung.GehörtZu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buchung.GehörtZu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schwimmbahn.Schwimmbahnnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schwimmbahn.Schwimmbahnnummer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</p>
